body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}


.contents {
	display: flex;
	flex-direction: row;
}


.main {
	background-color: skyblue;
	border: 1px solid;
	flex-basis:auto ;
}

.main header {
	background-color: lightgray;
	border: 1px solid;  
	height: 30px;             

}

.left {
	justify-content: flex-start;
	background-color: pink;
	border: 1px solid;
	flex-basis: 200px;
	flex-shrink:0;
}

.right {
	background-color: greenyellow;
	border: 1px solid;
	flex-basis: 300px;
	flex-shrink: 0;             
}

footer {
	background-color: yellow;
	border: 1px solid;    
	height: 50px;
}